---
---

@import '{{ site.theme }}';

body {
  font-size: 14px;
  line-height: 1.5rem;
}

.page-header {
  color: #ffff;
  background-color: #A067AB;
  background: radial-gradient(circle at 150%, #21d4ce, #222);
  padding: 10px 0;

  .project-name {
    font-size: 1.5rem;
  }

  h2 {
    margin-bottom: 0;
  }
}

ul.inline_toc {
  list-style-type: none;
  width: 14rem;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 1em;

  display: none;
  @media (min-width: 1080px) {
    display: block;
  }

  position: sticky !important; /* added to make toc scroll with page */
  float: left !important; /* added to make toc scroll with page */
  top: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em !important; /* added to make toc scroll with page */
  z-index: 10;

  background: linear-gradient(180deg, #222 95%, white);
  li {
    padding-left: 0.3rem;
    background: white;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child{
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.main-content {
  display:table-cell;
  padding: 2rem 1rem;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

  h1, h1 a, h1 a:hover, h2, h2 a, h2 a:hover, h3, h3 a, h3 a:hover, h4, h4 a, h4 a:hover {
    font-family: 'Muli', sans-serif;
    color: #353535;
    text-decoration: none;
  }
}

footer {
  display: none !important;
}


