---
---

@import '{{ site.theme }}';

.page-header {
  color: #ffff;
  background-color: #A067AB;
  background: radial-gradient(circle at 150%, #21d4ce, #222);
  padding: 10px 0;

  .project-name {
    font-size: 1.5rem;
  }

  h2 {
    margin-bottom: 0;
  }
}

.main-content {
  h1, h1 a, h1 a:hover, h2, h2 a, h2 a:hover, h3, h3 a, h3 a:hover, h4, h4 a, h4 a:hover {
    font-family: 'Muli', sans-serif;
    color: #353535;
    text-decoration: none;
  }
}

ul.callout {
  list-style-type: none;

  li {
    width: 40%;
    float: left;
    margin: 0 1em 1em 1em;

    color: #E6E6E6;
    text-align: center;
    padding: 30px;
    background: #353535;
    min-height: 100%;
    -webkit-box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.45);
    border-radius: 5px;

    a {
      color: #fff;
      background-color: #f0ad4e;
      border-color: #eea236;

      display: inline-block;
      padding: 6px 12px;
      margin: 5px 0;
      line-height: 1.5rem;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}
